body {
  background-color: white;
}

#container {
  background-color: #DFE8ED;
  width: 80%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid hotpink;
}

h1 {
  color: hotpink;
}

#stake-text {
  display: none;
}

.stake-box {
  display: inline-block;
  width: 100px;
  height: 85px;
  margin: 10px;
  border: 1px solid black;
  padding-top: 15px;
}

.deal {
  display: none;
}

.card-hidden {
  display: none;
}

.card-holder {
  display: none;
}

.upper-card {
  display: inline-block;
}

.card-space {
  width: 100px;
  height: 100px;
  margin: 10px;

}

.held {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-bottom: 4px solid hotpink;
}

.lower-card {
  display: none;
}

#play-again {
  display: none;
}

img {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

/* the below is robbed from https://gist.github.com/debloper/1476243 and being tested */

.pulsor {
    width: 90%;
    margin: 64px;
    padding: 16px 32px;
    font-size: 32px;
    cursor: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #333;
    -webkit-animation: pulsate 1s infinite alternate;
    -moz-animation: pulsate 1s infinite alternate;
    -animation: pulsate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}

@-webkit-keyframes pulsate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px hotpink; }
}
@-moz-keyframes pulsate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px hotpink; }
}
@keyframes pulsate {
    from { box-shadow: 0 0 10px #333; }
    to { box-shadow: 0 0 20px hotpink; }
}