body {
  background-color: white;
  background-image: url("../images/swirl.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 3%;
}

#container {
  background-top: 40px;
  padding: 20px 50px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /*border: 1px solid black;*/
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 90px;
  color: black;
  text-align: left;
}

p {
  font-family: Georgia1, Georgia, serif;
  font-style: italic;
}

#start-button {
  font-family: 'Tangerine', cursive;
  font-size: 60px;
  color: black;
}

#stake-text {
  display: none;
}

#stake-bank-message {
  display: none;
}

#message-text {
  visibility: hidden;
  width: auto;
  height: auto;
  color: #bbb;
}

.stake-box {
  background-color: #eee;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  display: inline-block;
  width: 100px;
  height: 85px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding-top: 15px;
}

.deal {
  display: none;
  background-color: #eee;
  font-family: 'Parisienne', cursive;
  font-size: 20px;
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.buttons {
  background-color: #eee;
  font-family: 'Parisienne', cursive;
  font-size: 20px;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 30px 10px 0;
  border: 1px solid black;
  border-radius: 3px;
}

.card-hidden {
  display: none;
}

.card-holder {
  display: none;
}

.upper-card {
  display: inline-block;
}

.card-space {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-bottom: 4px solid white;
}

.held {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-bottom: 4px solid black;
}

.lower-card {
  display: none;
}

#message-panel {
  width: auto;
  height: 100px;
}

#play-again {
  display: none;
}

img {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

/* the below is robbed from https://gist.github.com/debloper/1476243 and being tested */

.pulsor {
    display: inline-block;
    width: 50%;
    margin: 64px;
    padding: 16px 32px;
    font-size: 32px;
    cursor: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #333;
    -webkit-animation: pulsate 2s infinite alternate;
    -moz-animation: pulsate 2s infinite alternate;
    -animation: pulsate 2s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}

@-webkit-keyframes pulsate {
    from { box-shadow: 0 0 10px #fff; }
    to { box-shadow: 0 0 20px black; }
}
@-moz-keyframes pulsate {
    from { box-shadow: 0 0 10px #fff; }
    to { box-shadow: 0 0 20px black; }
}
@keyframes pulsate {
    from { box-shadow: 0 0 10px #fff; }
    to { box-shadow: 0 0 20px black; }
}